#troll-btn {
  position: absolute;
  width: 80px;
  height: 20px;
  background-color: whitesmoke;
  color: tomato;
  border-radius: 8px;
  transition: top 0.3s ease, left 0.3s ease;
  background-color: white;
  transform: translateX(40px);
}

#simple-btn {
  position: absolute;
  width: 80px;
  height: 20px;
  background-color: tomato;
  color: whitesmoke;
  border-radius: 8px;
  transition: top 0.15s ease, left 0.2s ease;
}